<div class="container shadow px-3 py-3 my-5" style="border-radius: 25px;">
    <div class="row m-2 p-1 shadow-xl dictatorCard">

        <div class="col-xl-3" *ngFor="let dictator of dictators; index as i">
            <div class="card" style="width: 18rem;">
                <div class="card-header d-flex align-items-center">
                    <img src="{{dictator.image}}" class="card-img-top" alt="image of a bad man">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{dictator.firstName}} {{dictator.lastName}}</h5>
                    <p class="card-text">{{dictator.description}}
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Birth: {{dictator.birth}}</li>
                    <li class="list-group-item">Death: {{dictator.death}}</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-danger" (click)="delete(i);">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>